In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ballina,AU,2022-03-10 00:02:38,-28.8667,153.5667,74.01,85,99,11.45
1,1,Bonfim,BR,2022-03-10 00:02:38,3.0833,-59.9500,74.68,87,100,2.42
2,2,Saint George,US,2022-03-10 00:01:26,37.1041,-113.5841,62.64,23,100,7.00
3,3,Altay,CN,2022-03-10 00:02:39,47.8667,88.1167,25.02,41,37,7.34
4,4,Barrow,US,2022-03-10 00:02:39,71.2906,-156.7887,-2.18,78,0,4.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap syntax
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Puerto Ayora,EC,2022-03-10 00:02:40,-0.7393,-90.3518,75.54,98,52,1.99
8,8,Saint-Philippe,RE,2022-03-10 00:02:41,-21.3585,55.7679,76.84,86,7,7.38
11,11,Bairiki,KI,2022-03-10 00:02:42,1.3292,172.9752,80.67,79,90,13.76
17,17,The Valley,AI,2022-03-10 00:02:44,18.2170,-63.0578,78.10,78,0,21.97
20,20,Guaruja,BR,2022-03-10 00:02:45,-23.9931,-46.2564,82.17,82,14,5.41
21,21,Butaritari,KI,2022-03-10 00:02:46,3.0707,172.7902,81.18,79,59,16.08
23,23,Vaini,TO,2022-03-10 00:02:47,-21.2000,-175.2000,79.03,75,43,11.72
26,26,Rikitea,PF,2022-03-10 00:02:48,-23.1203,-134.9692,79.07,68,50,7.14
29,29,Cockburn Town,TC,2022-03-09 23:58:39,21.4612,-71.1419,78.76,73,40,13.80
32,32,Kapaa,US,2022-03-10 00:01:51,22.0752,-159.3190,80.58,67,32,4.00

In [12]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7     Puerto Ayora      EC     75.54  -0.7393  -90.3518
8   Saint-Philippe      RE     76.84 -21.3585   55.7679
11         Bairiki      KI     80.67   1.3292  172.9752
17      The Valley      AI     78.10  18.2170  -63.0578
20         Guaruja      BR     82.17 -23.9931  -46.2564
21      Butaritari      KI     81.18   3.0707  172.7902
23           Vaini      TO     79.03 -21.2000 -175.2000
26         Rikitea      PF     79.07 -23.1203 -134.9692
29   Cockburn Town      TC     78.76  21.4612  -71.1419
32           Kapaa      US     80.58  22.0752 -159.3190

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Puerto Ayora,EC,75.54,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Saint-Philippe,RE,76.84,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
11,Bairiki,KI,80.67,1.3292,172.9752,Tarawa Boutique Hotel
17,The Valley,AI,78.10,18.2170,-63.0578,CeBlue Villas & Beach Resort
20,Guaruja,BR,82.17,-23.9931,-46.2564,Charme Hotel Guarujá
21,Butaritari,KI,81.18,3.0707,172.7902,Isles Sunset Lodge
23,Vaini,TO,79.03,-21.2000,-175.2000,Keleti Beach Resort
26,Rikitea,PF,79.07,-23.1203,-134.9692,People ThankYou
29,Cockburn Town,TC,78.76,21.4612,-71.1419,Osprey Beach Hotel
32,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))